langchain
langgraph
langchain-community
langchain-core
langchain-huggingface
langchain-openai

chromadb
faiss-cpu

sentence-transformers
transformers
torch

pypdf
unstructured

streamlit

python-dotenv

tiktoken

duckduckgo-search

beautifulsoup4

wikipedia

arxiv